.color-picker-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  .color-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0 0 80%);
    border-radius: 25px;
    width: 300px;
    height: 300px;
    transition: background-color 0.25s ease;

    p {
      text-align: center;
      font-size: 2rem;
      color: hsl(0 0 20%);
    }
  }

  label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  input[type='color'] {
    padding: 5px;
    width: 75px;
    height: 50px;
    border: 3px solid hsl(0 0 80%);
    border-radius: 10px;
  }
}
